{% extends 'layout.html' %}
{% block title %}
Übersichtskarte
{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='large_map.css') }}">
{% endblock %}
{% block content %}
<div id="map"></div>

<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script>
    var map = L.map('map').setView([0, 0], 2);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    // Fetch locations from API endpoint
    fetch('/api/locations')
        .then(response => response.json())
        .then(data => {
            if (data.length > 0) {
                // Extract latitude and longitude from each location
                var coordinates = data.map(location => [location.latitude, location.longitude]);

                // Calculate bounding box of coordinates
                var bounds = L.latLngBounds(coordinates);

                // Set map view to cover bounding box
                map.fitBounds(bounds);
                
                // Add markers for each location
                data.forEach(location => {
                    var popupContent = `<b>${location.comment}</b><br>`;
                    if (location.photo) {
                        popupContent += `<img src="${location.photo}" class="img-fluid" /><br>`;
                    }
                    L.marker([location.latitude, location.longitude]).addTo(map)
                        .bindPopup(popupContent);
                });
            } else {
                // If no locations are available, center the map on a default location
                map.setView([0, 0], 2);
            }
    });
</script>
{% endblock %}