{% extends 'layout.html' %}
{% block title %}
Übersichtskarte
{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/map.css') }}">
{% endblock %}
{% block content %}
<div id="map-container" style="position: relative; height: 100%;">
<div id="map" style="height: 100vh;"></div>
<form id="locationForm" action="{{ url_for('views.display_map')}}" method="post" enctype="multipart/form-data">
        <div class="input-field col s12" hidden>
            <input id="latitude" type="text" class="validate" name="latitude" required>
            <label for="latitude">Latitude</label>
        </div>
        <div class="input-field col s12" hidden>
            <input id="longitude" type="text" class="validate" name="longitude" required>
            <label for="longitude">Longitude</label>
        </div>
        <div class="fixed-action-btn" style="position: absolute; bottom: 45px; right: 24px;">
            <div class="btn-floating btn-large lime file-field" >
                <i class="large material-icons">camera</i>
                <input id="photoField" type="file" name="photo" accept="image/jpg, image/jpeg, image/png" capture="camera" >
            </div>
        </div>
        <div class="file-path-wrapper" hidden>
            <input class="file-path validate" type="text">
        </div>
<button class="btn waves-effect waves-light" type="submit">Submit</button>
</form>
</div>
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script src="{{ url_for('static', filename='js/main.js')}}"></script>
{% endblock %}