<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bob - Recherche und Archiv</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            padding-top: 50px;
            text-align: center;
        }
        h1 {
            margin-bottom: 30px;
        }
        .detective-img {
            width: 200px;
            border-radius: 50%;
            margin-bottom: 20px;
        }
        .btn-container {
            margin-top: 30px;
        }
        .btn {
            margin-right: 10px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Bob - Recherche und Archiv</h1>
        <div class="btn-container">
            <a href="{{url_for('views.display_map')}}" class="btn btn-primary">Display Map</a>
            <a href="{{url_for('views.upload_location')}}" class="btn btn-secondary">Upload Location</a>
        </div>
    </div>
</body>
</html>