<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bob - {% block title %}{% endblock %} </title>
    <!-- Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>
    <!-- PWA -->
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    {% block styles %}
    {% endblock %}
</head>
<body>
    <div id="map-container" style="position: relative; height: 100%;">
        {% block content %}
        {% endblock %}
        <div class="fixed-action-btn" style="position: absolute; bottom: 45px; right: 24px;">
            <a class="btn-floating btn-large lime sidenav-trigger" data-target="mobile-demo">
                <i class="large material-icons">menu</i>
            </a>
        </div>
        <ul class="sidenav" id="mobile-demo">
            <li><a href="{{ url_for('views.display_map')}}" class="text-black">Display Map</a></li>
            <li><a href="{{ url_for('views.upload_location')}}">Upload Location</a></li>
        </ul>
    </div>
    <!-- Materialize JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- PWA -->
    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', function() {
                navigator.serviceWorker.register("{{ url_for('static', filename='service_worker.js') }}").then(function(registration) {
                    console.log('ServiceWorker registration successful with scope: ', registration.scope);
                }, function(err) {
                    console.log('ServiceWorker registration failed: ', err);
                });
            });
        }
    </script>
    <!-- mobile nav-->
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.sidenav');
            var instances = M.Sidenav.init(elems,{"edge": "right"});
        });
    </script>
</body>
</html>
