{% extends 'layout.html' %}
{% block title %}
Eintrag hinzufügen
{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='small_map.css') }}">
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div id="map" class="col s12 m6 l8 z-depth-2"></div>
        <form class="col s12 m6 l4" id="locationForm" action="/add_location" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="input-field col s12" hidden>
                    <input id="latitude" type="text" class="validate" name="latitude" required>
                    <label for="latitude">Latitude</label>
                </div>
                <div class="input-field col s12" hidden>
                    <input id="longitude" type="text" class="validate" name="longitude" required>
                    <label for="longitude">Longitude</label>
                </div>
                <div class="input-field col s12">
                    <textarea id="comment" class="materialize-textarea" name="comment" required></textarea>
                    <label for="comment">Comment</label>
                </div>
                <div class="file-field input-field col s12">
                    <div class="btn">
                        <span>Photo</span>
                    <input type="file" name="photo" accept="image/jpg, image/jpeg, image/png">
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                </div>
            </div>
        </div>
        <button class="btn waves-effect waves-light" type="submit">Submit</button>
    </form>
    </div>
</div>
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script>
    var map = L.map('map').setView([0, 0], 2);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    var marker = L.marker([0, 0], { draggable: true }).addTo(map);

    // Update latitude and longitude inputs when marker is dragged
    marker.on('dragend', function(event){
        var position = marker.getLatLng();
        document.getElementById('latitude').value = position.lat.toFixed(6);
        document.getElementById('longitude').value = position.lng.toFixed(6);
    });

    // Update marker position when latitude or longitude input changes
    document.getElementById('latitude').addEventListener('input', function() {
        marker.setLatLng([parseFloat(this.value), marker.getLatLng().lng]);
    });

    document.getElementById('longitude').addEventListener('input', function() {
        marker.setLatLng([marker.getLatLng().lat, parseFloat(this.value)]);
    });

    // Function to get user's location
    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                var userLocation = [position.coords.latitude, position.coords.longitude];
                map.setView(userLocation, 12);
                marker.setLatLng(userLocation);
                document.getElementById('latitude').value = position.coords.latitude;
                document.getElementById('longitude').value = position.coords.longitude;
            });
        } else {
            alert("Geolocation is not supported by this browser.");
        }
    }

    // Call getLocation() when the page loads
    window.onload = getLocation;
</script>
{% endblock %}