.message {
    padding: 10px;
    font-size: 1.3em;
    font-family: Arial, sans-serif;
}


.brand-logo>img {
    height: 64px;
    padding: 0px;
    width: auto; 
}

@media (orientation: portrait) {
    .leaflet-control-zoom {
        visibility: hidden;
    }
}